$color:#1975d2;
$hundredPercent:100%;

.navigate-container {
    width: $hundredPercent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-heading {
        display: flex;
        align-items: center;
        font-size: large;
        color: $color;
        flex: 1 0 auto;
    }

    .nav-link-container {
        width: $hundredPercent;
        .nav-link-wrapper {
            display: flex;
            width: $hundredPercent;
            justify-content: space-evenly;

            .btn-subtext {
                font-size: 8px;
                font-style: italic;
                text-align: right;
            }
        }
        flex: 2 0 auto;
    }
}