.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-title {
        font-size: 15px;
        padding: 10px 10px;
        color: #1976d2;
    }
    form {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}